# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java

# IDE
*.iml
.idea/
.project
.classpath
.settings/
.cache/
# OS
.DS_Store
Thumbs.db
# Logs
*.log